<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - HRISVSC</title>

        <!--<link href="~/css/site.css" rel="stylesheet">-->
        <link href="~/css/bootstrap2.css" rel="stylesheet" />
        <link href="~/font-awesome/css/font-awesome2.css" rel="stylesheet" />
        <link href="~/lineicons/style2.css" rel="stylesheet"/>
        <link href="~/css/style2.css" rel="stylesheet" />

       
  
  
         <!-- Wijmo -->


         <script src="~/js/jquery.js"></script>
         
         
        <script src="/wijmo/controls/wijmo.min.js"></script>
        <script src="/wijmo/controls/wijmo.input.min.js"></script>
        <script src="/wijmo/controls/wijmo.grid.min.js"></script>
        <script src="/wijmo/controls/wijmo.chart.min.js"></script>
        <link href="/wijmo/styles/wijmo.min.css" rel="stylesheet" />

        
    </head>
    <body body id="page-top" style="background:#e0b4d5; class="index">
        <!--<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="HRISVSC" asp-action="boom" class="navbar-brand">HRISVSC</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li><a asp-controller="Home" asp-action="MainMenu">Click Me</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>-->
        
            @RenderBody()
       
        

        <!--<environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>-->
        
              <!-- jQuery -->
                <script src="~/js/jquery-1.8.3.min.js"></script>
                <script src="~/js/bootstrap.min.js"></script>
       <!--<script src="~/js/jquery.js"></script>-->
       <!--<script src="http://code.jquery.com/jquery-1.9.0.js"></script> -->
       <script class="include" type="text/javascript" src="~/js/jquery.dcjqaccordion.2.72.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
	   <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js"></script>-->
       
    

        <!-- common script for all pages -->

        <script src="~/js/common-scripts2.js"></script>
        
      


        
        
        @RenderSection("scripts", required: false)
    </body>
    
</html>
