@{

}

    <section id="container" >
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
        <!--logo start-->
        
        <a href="../Software/MainMenu" class="logo"><b>HRIS </b></a>


        <!--logo end-->
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><button class="btn btn-danger" style="margin-top:13px;margin-right:10px;"  href="login.html">Logout</button></li>
                </ul>
            </div>
        </header>
      <!--header end-->
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">



                    <li class="mt">
                        <a href="MainMenu">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                        </a>
                    </li>

                    <li  class="sub-menu">
                        <a class="active" href="javascript:;" >
                            <i class="fa fa-cogs"></i>
                            <span>Setup</span>
                        </a>
                        <ul class="sub">
                            <li><a style="color:#f2f2f2;" href="Employee">Employee<span style="float:right;margin-top:5%;"class="glyphicon glyphicon-circle-arrow-left"></a></li>
                            <li><a  href="ShiftCode">Shift Code</a></li>
                            <li><a  href="Company#">Company</a></li>
                            <li><a  href="DayType#">Day Type</a></li>
                            <li><a  href="MandatoryTaxTables#">Mandatory & Tax Tables</a></li>
                            <li><a  href="OtherIncome#">Other Income</a></li>
                            <li><a  href="SystemTables#">System Tables</a></li>
                            <li><a  href="OtherDeduction#">Other Deduction</a></li>
                            <li><a  href="Users#">Users</a></li>
                            <li><a  href="ChangeShiftCode#">Change Shift Code</a></li>
                            <li><a  href="Settings#">Settings</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;" >
                            <i class="fa fa-desktop"></i>
                            <span>Activities</span>
                        </a>
                    <ul class="sub">
                        <li><a  href="DTR#">DTR</a></li>
                        <li><a  href="PayrollOtherIncome#">Payroll Other Income</a></li>
                        <li><a  href="PayrollOtherDeduction#">Payroll Other Deduction</a></li>
                        <li><a  href="LeaveApplication#">Leave Application</a></li>
                        <li><a  href="LastWithholdingTax#">Last Withholding Tax</a></li>
                        <li><a  href="OvertimeApplication#">Overtime Application</a></li>
                        <li><a  href="Loans#">Loans</a></li>
                        <li><a  href="Payroll#">Payroll</a></li>
                    </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" >
                            <i class="fa fa-book"></i>
                            <span>Reports</span>
                        </a>
                    <ul class="sub">
                        <li><a  href="DTRReports#">DTR Reports</a></li>
                        <li><a  href="LeaveReports#">Leave Reports</a></li>
                        <li><a  href="PayrollReports#">Payroll Reports</a></li>
                        <li><a  href="LoanReports#">Loan Reports</a></li>
                        <li><a  href="MandatoryReports#">Mandatory Reports</a></li>
                        <li><a  href="AccountingReports#">Accounting Reports</a></li>
                        <li><a  href="WithholdingTaxReports#">Withholding Tax Reports</a></li>
                        <li><a  href="ATMBank#">ATM/Bank</a></li>
                        <li><a  href="Demographics#">Demographics</a></li>
                    </ul>
                    </li>
                </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      
      <section id="main-content">
          <section class="wrapper">
              <h3><i class="fa fa-angle-right"></i> Employee Lists</h3>
              <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////
              ////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
              
              <!-- Content Header (Page header) -->
                    <section id="container">

                    </section>
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <!--table container-->
                                <div class="box">
                                    <div class="row">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            
                                              
                                                 
   
                                                        
                                                        
                                            <div class="btn-group-horizontal btn-sm pull-left">
                                                <!--<h5 style="width:100px;">Payroll Group</h5>-->
                                                <div id="theAutoComplete"></div>
                                            
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group-horizontal btn-sm pull-right">
                                            <a href="~/Software/AddEmployee" class="btn btn-info"><i class="fa fa-plus"></i> Add</a>
                                            <a href="~/Software/Dashboard" class="btn btn-danger "><i class="fa fa-close"></i> Close</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--table-->
                                    <table id="itemCollectionGrid" class="grid border-custom"></table>
                                    
                                </div>
                            </div>
                        </div>
                        <!--navigation buttons-->
    <div class="btn-group pull-right" id="navigationPageGrid">
        <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
        <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
        <span class="glyphicon glyphicon-step-backward"></span>
        </button>
        <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
        <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
        <span class="glyphicon glyphicon-step-forward"></span>
        </button>
        <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
        <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
                    </section>
    <div class="modal fade" id="deleteItemConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Item? <i class="fa fa-trash"></i></h4>
                </div>

            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" id="cmdConfirmDeleteItem" onclick="cmdItemConfirmDeleteButton_OnClick()">Delete</button>
                <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Loading Modal -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class=" modal-dialog modal-sm">
            Modal content
            <div class="modal-content">
                <div class="modal-body">
                <h4 style="text-align:center">Loading ...</h4>
                </div>
                <div class="modal-footer">
                <img class="img-thumbnail img-responsive center-block img-custom" src='~/images/loading/progress_bar.gif'>
                </div>
            </div>
        </div>
    </div>
                   
<script type="text/javascript">

    //================
    // Global variables
    // ================
    var itemCollections;
    var itemGrid;
    var editItem;

    var lastCount = 0;
    var btnFirstPageGrid;
    var btnPreviousPageGrid;
    var btnNextPageGrid;
    var btnLastPageGrid;
    var btnCurrentPageGrid;

    // =============================
    // Get ItemMasterList Data
    // =============================
    function getPayrollGroup() {
        // create (and populate) ComboBox from <select> element

        var ItemList = new Array();
        // $("#loadingModal").modal("show");
        $.ajax({
            url: '/api/employee/list',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (results) {
                // $("#loadingModal").modal("hide");
                
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        ItemList.push({
                            id: results[i]["payrollGroupId"],
                            
                        });
                        $("#payroll_group_id").append('<li><a href="#'+ItemList[i].id+'"><i class="fa fa-angle-double-right">'+ItemList[i].id+'</li>');
                    }
                    //alert(ItemList[4].id);
                }
            }
        });
        
    }
    
    
    function getItemMasterList() {
        var ItemList = new wijmo.collections.ObservableArray();
        // $("#loadingModal").modal("show");
        $.ajax({
            url: '/api/employee/list',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (results) {
                // $("#loadingModal").modal("hide");
                
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        ItemList.push({
                            id: results[i]["idNumber"],
                            firstName: results[i]["firstName"],
                            positionId: results[i]["positionId"],
                            isLocked: results[i]["isLocked"],
                            EditId: "<button class='btn btn-primary btn-xs btn-block' id='itemEditButton' onclick='cmdItemEditButton_OnClick()'><i class='fa fa-pencil'></i> Edit</button>",
                            DeleteId: "<button class='btn btn-danger btn-xs btn-block' id='itemDeleteButton' onclick='cmdItemDeleteButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
                            
                        });
                        
                    }
                    itemCollections = new wijmo.collections.CollectionView(ItemList);
                    btnCurrentPageGrid.innerHTML = (itemCollections.pageIndex + 1) + ' / ' + itemCollections.pageCount;
                    itemCollections.canFilter = true;
                    itemCollections.pageSize = 9;

                    itemGrid = new wijmo.grid.FlexGrid('#itemCollectionGrid');
                    //Flex Grid
                    itemGrid.initialize({
                        
                        columns: [
                            {
                                "header": "Id Number",
                                "binding": "id",
                                "align": "center",
                                "allowSorting": true,
                                "isContentHtml": true,
                                
                                "width": ".25*"
                            },
                            {
                                "header": "FirstName",
                                "binding": "firstName",
                                "align": "center",
                                "allowSorting": true,
                                "width": ".50*"
                            },
                            {
                                "header": "PositionId",
                                "binding": "positionId",
                                "align": "center",
                                "allowSorting": true,
                                "isContentHtml": true,
                                "width": ".50*"
                            },
                            {
                                "header": "IsLocked",
                                "binding": "isLocked",
                                "align": "center",
                                "allowSorting": true,
                                "isContentHtml": true,
                                "width": ".25*"
                            },
                            {
                                "header": "Edit",
                                "binding": "EditId",
                                "width": 70,
                                "align": "center",
                                "isContentHtml": true
                            },
                            {
                                "header": "Delete",
                                "binding": "DeleteId",
                                "width": 70,
                                "align": "center",
                                "isContentHtml": true

                            },
                        ],
                        autoGenerateColumns: false,
                        itemsSource: itemCollections,
                        isReadOnly: true,
                        autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                        allowDragging: wijmo.grid.AllowDragging.None,
                        selectionMode: wijmo.grid.SelectionMode.Row
                    });
                            
                    itemGrid.trackChanges = true;

                    updateNavigateButtonsCollection();

                    btnFirstPageGrid.addEventListener('click', function () {
                        itemCollections.moveToFirstPage();
                        updateNavigateButtonsCollection();
                    });
                    btnPreviousPageGrid.addEventListener('click', function () {
                        itemCollections.moveToPreviousPage();
                        updateNavigateButtonsCollection();
                    });
                    btnNextPageGrid.addEventListener('click', function () {
                        itemCollections.moveToNextPage();
                        updateNavigateButtonsCollection();
                    });
                    btnLastPageGrid.addEventListener('click', function () {
                        itemCollections.moveToLastPage();
                        updateNavigateButtonsCollection();
                    });
                    
                }
            }
        });
    }
    
    //===========================
    // On Page Load
    // ==========================
    
    $(document).ready(function () {
        //Collection View
            btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');
            getItemMasterList();
            //getPayrollGroup();
            
             // create AutoComplete
            var ac = new wijmo.input.AutoComplete('#theAutoComplete', {
                //itemsSource: getCountries(),
                placeholder: 'select a country'
            });
            
            
            
    });
</script>
              
              <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////
              ////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
          </section>
      </section>
      
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2016 - Hris Innosoft Solution Inc. 
              <a href="Employee#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
</section>


                    
        